.footer { 
    position: fixed;
    font-size: small;
    right: 10%;
    bottom: 0;
    width: 80%;
    text-align: right;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.example {
    text-align: left;
    background-color: #e7f3fe;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

.success {
    background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}

.warning {
    background-color: #ffffcc;
    width: 100%;
    border-left: 6px solid #ffeb3b;
}

.listing {
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 28pc;
}

.modelsummary {
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 28pc;
}

.graphics{
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 28pc;
}

.fullscreen{
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 38pc;
}